[Unit]
Description=Liberty's distributed currency daemon
After=network.target

[Service]
User=liberty
Group=liberty

Type=forking
PIDFile=/var/lib/libertyd/libertyd.pid

ExecStart=/usr/bin/libertyd -daemon -pid=/var/lib/libertyd/libertyd.pid \
          -conf=/etc/liberty/liberty.conf -datadir=/var/lib/libertyd

ExecStop=-/usr/bin/liberty-cli -conf=/etc/liberty/liberty.conf \
         -datadir=/var/lib/libertyd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
